doctype html
head
  title=title
  meta(name='viewport',content='width=device-width, initial-scale=1.0')
  link(rel="icon" type="image/png" href="/img/LightUpTheProjectFav.png")
  link(href="/css/lightup.css" rel="stylesheet")
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
body
  div.container(style='max-width:800px;')
    h2(style="margin-top:100px;") LightUptheProject
    form(action='/admin/user', method='post')
      br
      div.form-group
        label กรอก UserID
        input(type='text' class='form-control' name='userid' placeholder='UserID' required)
      input(type='submit' class='btn btn-primary' value='Search')
    br
    br
    if showSearchResult
      h4= 'UserID: ' + userid
      h5= 'ชื่อ-นามสุกล: ' + u_firstname + ' ' + u_lastname
      h5= 'ห้อง: ' + u_class +' เลขที่: '+ u_roll
      hr
      p= 'Round1: ' + u_round1
      p= 'Round2: ' + u_round2
      p= 'Round3: ' + u_round3
      p= 'Round4: ' + u_round4
      form(action='/admin/deleteuser', method='post')
        input(type='text' class='form-control' name='userid' value=userid style='display:none;')
        input(type='submit' class='btn btn-danger' value='Delete This User')
    if showSearchError
      p(style='color: red;')=ErrMessage
    if deleteUser
      p(style='color: red;')=AlertMessage
    br
    br
    a(href='/') Home
    hr
    p LightUpTheProject &copy; 2019 | Created by TJ.THANAPAT
    br
    br
