doctype html
head
  title=title
  meta(name='viewport',content='width=device-width, initial-scale=1.0')
  link(rel="icon" type="image/png" href="/img/LightUpTheProjectFav.png")
  link(href="/css/lightup.css" rel="stylesheet")
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
body
  div.container-fluid(style='max-width:800px;')
    h2(style="margin-top:100px;") LightUptheProject

    if isRegis

      form(action='/regis/randomround' method='post')
        br
        div.form-group
          label ปีการศึกษา:
          input(type='text' class='form-control' value='2019' disabled)
        div.form-group
          label ห้องเรียน:
          select(class="form-control" name='u_class', required)
            option(value='', disabled, selected) เลือก...
            option(value='01') 01
            option(value='02') 02
            option(value='03') 03
            option(value='04') 04
            option(value='05') 05
            option(value='06') 06
            option(value='07') 07
            option(value='08') 08
            option(value='09') 09
            option(value='10') 10
            option(value='11') 11
            option(value='12') 12
            option(value='13') 13
        div.form-group
          label เลขที่:
          input(type='number' name='u_roll' class='form-control' placeholder='เลขที่' required)
        div.form-group
          label ชื่อจริง:
          input(type='text' name='u_firstname' class='form-control' placeholder='ชื่อจริง' required)
        div.form-group
          label นามสกุล:
          input(type='text' name='u_lastname' class='form-control' placeholder='นามสกุล' required)
        br
        br
        p เลือก 4 ตัวเลือกที่คุณสนใจเท่านั้น

        each booth in booths
          div.form-check
            <input type='checkbox' name='selection' value= !{booth.boothid} id = !{booth.boothid} class='chklimit'/>
            <label class='form-check-label' for=!{booth.boothid}> &nbsp;!{booth.boothname} </label>

        br
        p กรุณาตรวจสอบอีกครั้งก่อนกดลงทะเบียน
        br
        input(type='submit' class='btn btn-primary' value='Register' onclick="if ($('.chklimit:input:checkbox:checked').length != 4){alert('You must select 4 choices.');return false;}")
    if isRegisSuccess
      br
      br
      h4= 'Your UserID: ' + userid
      h5= 'ชื่อ-นามสุกล: ' + u_firstname + ' ' + u_lastname
      h5= 'ห้อง: ' + u_class +' เลขที่: '+ u_roll
      hr
      p= 'Round1: ' + u_round1
      p= 'Round2: ' + u_round2
      p= 'Round3: ' + u_round3
      p= 'Round4: ' + u_round4
    br
    br
    a(href='/') Home
    hr
    p LightUpTheProject &copy; 2019 | Created by TJ.THANAPAT
    br
    br
